<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOuQG3DACEUA7oDkzVD5ceRYqzJ6smeFk</string>
	<key>GCM_SENDER_ID</key>
	<string>925945983387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awesomepro</string>
	<key>PROJECT_ID</key>
	<string>the-city-cabs-7a447</string>
	<key>STORAGE_BUCKET</key>
	<string>the-city-cabs-7a447.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925945983387:ios:7d172d54413d71f159713e</string>
</dict>
</plist>